<div
  class="container p-5 mt-5 border rounded shadow-sm"
  style="background-color: white"
>
  <!-- Title -->
  <div class="row mb-4">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <a [routerLink]="['/section', section]">
        <button class="btn m-2" title="Go back" id="goBack">
          <fa-icon [icon]="back" class="fs-3"></fa-icon>
        </button>
      </a>
      @if(product){
      <h2 class="fw-bold m-0">
        {{ product.title }}
      </h2>

      }
      <button
        class="btn btn-secondary m-3"
        title="Add to cart"
        id="buyButton"
        (click)="throttledBuy()"
      >
        <span class="m-1">Add to cart</span>
        <span class="m-1"> <fa-icon [icon]="cartIcon"></fa-icon></span>
      </button>
    </div>
  </div>

  <app-toast></app-toast>

  <!-- Product Info -->
  <div class="row gy-4 align-items-start">
    @if(product){
    <!-- Text Info -->
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <ul class="list-unstyled">
        <li><strong>Description:</strong> {{ product.description }}</li>
        <li><strong>Price:</strong> {{ product.price | currency : "EUR" }}</li>
        <li><strong>Return policy:</strong> {{ product.returnPolicy }}</li>
        <li><strong>Warranty:</strong> {{ product.warrantyInformation }}</li>
      </ul>
      <div class="row mt-5">
        <div class="col">
          <h5 class="mb-4">Comments</h5>
          @for (review of product.reviews; track review) {
          <div class="border-top pt-3 mb-3">
            <p class="mb-1">
              <strong>{{ review.reviewerName }}</strong> on
              {{ review.date | date }}
            </p>
            <p class="mb-1">{{ review.comment }}</p>

            @for (i of utilsService.getRange(review.rating); track i) {
            <fa-icon [icon]="star" style="color: gold"></fa-icon>
            } @for (i of utilsService.getRange(5 - review.rating); track i) {
            <fa-icon [icon]="star" style="color: lightgrey"></fa-icon>
            }
          </div>
          }
        </div>
      </div>
    </div>

    <!-- Product Image -->
    <div class="col-12 col-lg-6 h-100 text-center order-1 order-lg-2;">
      <img
        [src]="product.thumbnail"
        alt="{{ product.title }}"
        style="max-width: 100%; max-height: 600px"
      />
    </div>
    }
  </div>
</div>
