<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="'over'"
    position="end"
    [disableClose]="false"
    fixedInViewport
  >
    <app-checkoutpage></app-checkoutpage>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white; padding: 0.5rem">
    <button type="button" class="btn" title="Cart" (click)="drawer.toggle()">
      <div class="cart-wrapper position-relative">
        <fa-icon [icon]="cartIcon" class="fs-3"></fa-icon>
        @if(cart && cart.length){
        <span
          id="cartItems"
          class="cart-indicator position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >{{ cart.length }}</span
        >
        }
      </div>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
