<nav
  class="d-flex flex-column flex-md-row justify-content-between gap-3 py-3 shadow-sm bg-white w-100"
  aria-label="Main navigation"
>
  <!-- Left: Logo and Slogan -->
  <div
    class="d-flex flex-column flex-md-row align-items-center gap-2 p-3 text-center text-md-start"
  >
    <img
      src="/flexyshop.png"
      alt="Flexyshop Logo"
      class="img-fluid"
      style="max-width: 180px; height: auto"
    />
    <h5 class="mb-0 text-muted mt-2 mt-md-0">Shop smart. Stay flex.</h5>
  </div>

  <!-- Right: Icons -->
  <div
    class="d-flex justify-content-center justify-content-md-end align-items-center p-3 gap-2"
  >
    <a [routerLink]="['/']">
      <button type="button" class="btn" title="Home">
        <fa-icon [icon]="home" class="fs-3"></fa-icon>
      </button>
    </a>

    <a [routerLink]="['/checkout']" id="checkoutLink" class="p-2">
      <button type="button" class="btn" title="Cart">
        <div class="cart-wrapper position-relative">
          <fa-icon [icon]="cartIcon" class="fs-3"></fa-icon>
          @if(cart && cart.length){
          <span
            id="cartItems"
            class="cart-indicator position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >{{ cart.length }}</span
          >
          }
        </div>
      </button>
    </a>
  </div>
</nav>
