<div class="container py-5">
  @if(categoryProducts.length){
  <div class="vstack gap-4" id="categorySection">
    @for(product of categoryProducts; track product){
    <div
      class="row align-items-center border rounded shadow-sm p-3 mx-1 mx-md-0"
      style="background-color: white"
    >
      <div class="col-12 col-md-2 text-center mb-3 mb-md-0">
        <img
          [src]="product.thumbnail"
          alt="{{ product.title }}"
          class="img-fluid"
          style="max-height: 100px; object-fit: contain"
        />
      </div>

      <div class="col-12 col-md-6 text-center text-md-start">
        <h5 class="fw-semibold mb-0">{{ product.title }}</h5>
      </div>

      <div class="col-12 col-md-4 text-center text-md-end">
        <div>
          <button
            class="btn btn-light m-1"
            (click)="addItem(product)"
            (mousedown)="onMouseDown($event)"
          >
            Buy
          </button>
          <a
            [routerLink]="['/', section, product.id]"
            class="btn btn-light m-1 border:0"
          >
            View
          </a>
        </div>

        @if( product.stock){
        <span class="badge bg-success"
          >{{ product.stock }} pieces in stock</span
        >
        }@else{
        <span class="badge bg-danger">Out of stock</span>
        }
      </div>
    </div>
    }
  </div>
  } @else {
  <p id="errorMessage" class="text-muted text-center">
    Sorry... we are currently out of stock
  </p>
  }
</div>
