<div class="container py-5">
  @if(categoryProducts.length){
  <div class="vstack gap-4" id="categorySection">
    @for(product of categoryProducts; track product){
    <div
      class="row align-items-center border rounded shadow-sm p-3 mx-1 mx-md-0"
      style="background-color: white"
    >
      <div class="col-12 col-md-2 text-center mb-3 mb-md-0">
        <a [routerLink]="['/', section, product.id]">
          <img
            [src]="product.thumbnail"
            alt="{{ product.title }}"
            class="img-fluid"
            style="max-height: 100px; object-fit: contain"
          />
        </a>
      </div>

      <div class="col-12 col-md-6 text-center text-md-start">
        <a
          [routerLink]="['/', section, product.id]"
          class="text-dark text-decoration-none"
        >
          <h5 class="fw-semibold mb-0">{{ product.title }}</h5>
        </a>
        <app-stars [product]="product"></app-stars>
      </div>

      <div class="col-12 col-md-4 text-center text-md-end">
        <div>
          <button
            class="btn btn-light m-1"
            (click)="addItem(product)"
            (mousedown)="onMouseDown($event)"
          >
            Buy
          </button>
          <a
            [routerLink]="['/', section, product.id]"
            class="btn btn-light m-1 border:0"
          >
            View
          </a>
        </div>

        @if( product.stock){
        <span class="badge bg-success"
          >{{ product.stock }} pieces in stock</span
        >
        }@else{
        <span class="badge bg-danger">Out of stock</span>
        } @if(isAddedToCart){
        <div>
          <p class="p-1">
            <fa-icon [icon]="check"></fa-icon>

            Added to cart
          </p>
        </div>
        }
      </div>
    </div>
    }
  </div>
  } @else {
  <p id="errorMessage" class="text-muted text-center">
    Sorry... we are currently out of stock
  </p>
  }
</div>
