<div class="container py-5">
  <div class="d-flex align-items-center gap-3 py-4">
    <img src="/flexyshop.png" style="width: 200px" />

    <h5 class="mb-0 text-muted">Shop smart. Stay flex.</h5>

    <a [routerLink]="['/checkout']" class="ms-auto" title="Checkout">
      <img src="/cart.png" style="width: 50px" />
    </a>
  </div>
  <div
    class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4 justify-content-center"
  >
    @for(category of categories; track category){
    <div class="col">
      <a
        [routerLink]="['/section', category.name]"
        class="text-decoration-none text-dark d-block text-center border rounded shadow-sm p-3 h-100 hover-shadow"
      >
        <img
          [src]="category.thumbnail"
          alt="{{ category.name }}"
          class="img-fluid mb-3"
          style="max-height: 100px; object-fit: contain"
        />
        <p class="mb-0 fw-medium">{{ category.name }}</p>
      </a>
    </div>
    }
  </div>
</div>
